#assssss{
color: brown;
font-size: 100px;
background: #2d987b;
}
.class_1
{
    color: rgb(244, 210, 36);
font-size: 100px;
background: #2d987b;
}
.magil
    {
        margin-left: 50px;
    }
@media (max-width: 1000px) { 
    .oculto_celular
    {
        display: none;
    }
    .block
    {
        display: block !important;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .mss {
        padding: 50px;
        text-align: center;
    }
    .magil
    {
        margin-left: 0px;
    }
}